/** 
===============
added by mehedi
===============
*/
.dokan-show{
    display:block;
  }
  
  .dokan-visibility-hidden{
    opacity: 0;
    visibility: hidden;
  }
  .dokan-download-options.dokan-edit-row{
    display:none;
  }
  .dokan-table thead tr th:nth-child(8), .dokan-table tbody tr td:nth-child(8) {
    display: none;
}
.term-public-shop .woof_container_prices, .term-public-shop .term-description {
  display: none;
}
/*
Hide price or logget out user and customer in shop page and single product page;
*/
/*
body.woocommerce-shop:not(.logged-in) .price-wrapper, 
body.woocommerce-shop.customer .price-wrapper, 
body.single-product:not(.logged-in):not(.public-shop-product) .price-wrapper, 
body.single-product.customer:not(.public-shop-product) .price-wrapper {
  display: none;
}
*/
/**
 * vendor registration my-account page*/

 .woocommerce-account .vendor-customer-registration label:first-child {
  display: none;
}

.woocommerce-account .show_if_seller {
  display: block !important;
}

/******************** 
* pop up login form *
*********************/

/*hide registration form on pop up login page*/
#loginform #customer_login .col-2 {
  display: none !important;
}

/* make the login form fullwidth */
#loginform #customer_login .col-1.large-6 {

  max-width: 100% !important;
  flex-basis: 100% !important;
}

/************************
* dokan plugin * 
*************************/

/** forntend seller  dashboard**/
body.dokan-dashboard .dokan-profile-completeness .dokan-panel-body,
body.dokan-dashboard li.withdraw,
body.dokan-dashboard li.payment,  
body.dokan-dashboard li.shipping,  
body.dokan-dashboard li.shipstation,  
body.dokan-dashboard li.coupons, 
body.dokan-dashboard li.reports, 
body.dokan-dashboard li.reviews, 
body.dokan-dashboard li.announcement, 
body.dokan-dashboard li.social,  
body.dokan-dashboard li.seo,
/*edit product form hide shipping and linked product */
body.dokan-dashboard .dokan-product-shipping-tax,
body.dokan-dashboard .dokan-linked-product-options,
body.dokan-dashboard .regular-price .vendor-earning{
  display: none !important;
}

body.dokan-dashboard .regular-price input#_regular_price {
  margin-bottom: 0 !important;
  height: 2.8em !important;
}

/*hide public product price for from seller add new and edit product*/
body.dokan-dashboard .is_public_product,
body.dokan-dashboard label.dokan-public-price {
  display: none;
} 

/*cart & checkout page */
.delivery_address {
  color: #539e9b;
}
.delivery_address strong {
  border-bottom: 2px solid;
  text-transform: capitalize;
}

/*hide price without logged in in product  page*/
body.single-product:not(.logged-in) .add-to-cart-container,
body.single-product:not(.logged-in) .product-price-container {
  display: none;
}